<html>
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="js/bootstrap.min.js"></script>
			
	<style>
		div.scroll {
   			background-color: #00FFF0;
    		width: 300px;
    		height: 500px;
    		overflow: scroll;
			}
	</style>
	</head>

	<body style="background-color: rgb(193, 146, 213);">
		
    <br>

    <div class="modal-header" align="right" >
	<a type="button" class="btn btn-success"href="register.html">Log out</a></div>
	
	<table>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
			
		<div class="scroll">
			<p>You can use the overflow property when you want to have better control of the layout. The default value is visible.</p>
	 </div>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<div class="scroll">
			<p>You can use the overflow property when you want to have better control of the layout. The default value is visible.</p>

		</div>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>
		<div class="scroll">
			<p>You can use the overflow property when you want to have better control of the layout. The default value is visible.</p>

		</div>
		</td>
	</table>

	</body>

</html>