<html>
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="js/bootstrap.min.js"></script>
	<style>
	body
	{
		width: 2000px;
	}
	.tab
	{
		height: 100%;
        width: 350px;
        float:left;
        margin-right: 50px;
        background: gray;
	}
	</style>
	</head>

	<body>
		
		<div class="tab">
            <ul>
                <li><span>asas</span></li>
            </ul>
		</div>
		<div class="tab"></div>
		<div class="tab"></div>
		<div class="tab"></div>
		<div class="tab"></div>

	</body>

</html>